
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 1rem;
}

div{
    background-color:#E74C3C ;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 150px;
}

p{

    background-color: #9B59B6;
    padding: 8px;
    padding-top: 1.25rem;
}

span{
     background-color: #3498DB;
     padding: 8px;
     padding-top: 1.25rem;
     padding-right: 6rem;
     padding-left: 1rem;
     
    
}

a{
    background-color: #2FCC71;
    padding: 8px;
    padding-right: 5rem;
    padding-left: 1rem;
    padding-top: 1.25rem;
}

