
.home {
    padding: 0 4rem;
    margin-top:2rem ;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
  
    
    
  }
  
  @media (max-width: 700px) {
    .home {
      padding: 0 2rem;
    }
  }

  .home > img{
    height: 17rem;
    width:17rem;
  }

  .home> p{
    align-self: flex-end;
    padding: 2rem;
    text-align: center;
  }

 
  