@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family:'Shadows Into Light', cursive ;
    margin: 0;
    min-height: 100vh;

  }
  
  .header {
    height: 72px;
    font-size: 32px;
    font-weight: 900;
    background: rgb(183, 120, 183);
    color: black;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border: 1px solid black;
    
  }
  
  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  
  .sidebar {
    width: 200px;
    background: #B3D6F5;
    height: 458px;

    margin-left: 1rem;
    border: 1px solid black;
    margin-top: 1rem;
    padding-left: -5rem;
    padding-right: 8rem;
    /* display: flex; */

    
  }
  
  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    background-color: #E3E5E7;

  }

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    width:4rem;
}

.container{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width:730px ;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    
}

.sidebarUl{
  width:15rem;
}
  